
:root{
    /*## Colors*/
    
    /* ### Primary */
    --Green: hsl(75, 94%, 57%);
    
    /* ### Neutral */
    
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 21%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
    --Family: [Inter](https://fonts.google.com/specimen/Inter);
    
}
body{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:var(--OffBlack)
    
}

.caja{
    display: flex;
    background-color: var(--DarkGrey);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 45px;
    width: 150px; 
}
.btn{
    color: white;
    text-decoration:none;
    margin: 0%;
    border: var(--Grey);
    background-color: var(--Grey);
    width: 270px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 10px; 
    margin-left: 35px;
}
.btn-1{
    overflow: hidden;
    border:3px solid var(--Grey);
    color: white;
   
}
.btn-1::before{
    display: flex;
    position: absolute;
    z-index: -1;
    content: "";
    color: black;
    width: 296px;
    height: 40px;
    background-color: var(--Green);
    border-radius: 10px;
    transition: all 0.2s ease;
    transform: translateX(-4%);
    margin-top: -13px;
}
.btn-1:hover::before{
    content: "GitHub";
    z-index: 1;
    color: black;
    text-decoration: var(--DarkGrey);
    top: 333px;
    border-radius: 10px;
}
img{
    margin-left: 100px;
    width: 27%;
    border-radius: 50%;
}
.text{
    text-align: center;
    padding-top: 0px;
}
.jun{
    font-size:13px;
    padding-top: 0px;
    margin: 0px;
    color: var(--Green);
}
.nombre{
    font-size: 25px;
    color: var(--White);
}
.texto{
    padding: 20px;
    font-size: 15px;
    color: var(--White);
    margin: 0px;
}

